@import url(https://fonts.googleapis.com/css?family=Geologica:300,regular,500,600,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Geologica";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Geologica";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #282B2D;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: inherit;
  width: 100%;
  max-width: 640px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__content .popup__btn {
  position: absolute;
  top: 1.25rem;
  right: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  padding-top: 1.625rem;
  color: #FFFBEF;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social__linkedin,
.social__mail,
.social__telegram {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  padding: 1.0625rem 3rem 1.0625rem 1.5rem;
  border-radius: 2.5rem;
  border: 1px solid #FFFBEF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social__linkedin::before,
.social__mail::before,
.social__telegram::before {
  content: "";
  background: url("../img/header-block/vector.svg") 0 0 no-repeat;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 40%;
  right: 20px;
}

.social__linkedin {
  padding-left: 2.5rem;
}

.social__mail::before {
  content: "";
  background: url("../img/header-block/vector.svg") 0 0 no-repeat;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 40%;
  right: 20%;
}

.footer {
  padding-bottom: 6.25rem;
}

.footer__title {
  color: #FFFBEF;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  width: 32.9375rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #282B2D;
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-img {
  z-index: 50;
}

.header__logo-name {
  color: #C7C3B8;
  line-height: 1.5;
  letter-spacing: 0.2px;
  white-space: nowrap;
  z-index: 10;
}

.header__logo {
  padding-right: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.header__actions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 3.125rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1%;
  color: #C7C3B8;
}

.menu__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__leng .header__flag {
  position: absolute;
  right: 0px;
}

.header__leng .header__en {
  display: none;
}

.header__leng .header__pl {
  display: none;
}

.header__leng .header__by {
  display: none;
}

.header__leng .flag-active {
  display: block;
  z-index: 10;
}

.header__language {
  opacity: 0;
  height: 2rem;
  width: 2.5rem;
  background-color: #282B2D;
  color: red;
}

.icon-menu {
  display: none;
}

.footer {
  padding-bottom: 6.25rem;
}

.footer__title {
  color: #FFFBEF;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  width: 32.9375rem;
}

.block-header {
  padding-top: 4.0625rem;
  padding-bottom: 1.9375rem;
}

.block-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.left-block__image img {
  max-width: 100%;
  height: auto;
}

.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.right-block__title {
  color: #FFFBEF;
  font-weight: 900;
  line-height: 90%;
  /* 101.7px */
  letter-spacing: 1.13px;
  padding-top: 3.125rem;
}

.right-block__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.right-block__sub-title {
  color: #605D53;
  font-weight: 500;
}

.right-block__sub-title:not(:last-child) {
  margin-bottom: 4.3125rem;
}

.block-content {
  padding-left: 12.5rem;
}

.block-content__title {
  color: #FFFBEF;
  font-weight: 600;
  text-transform: uppercase;
}

.block-content__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-block__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.75rem;
          flex: 0 0 18.75rem;
  position: sticky;
  top: 8.125rem;
  height: 100%;
  background-color: #282B2D;
  z-index: 10;
}

.content-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.content-block__item {
  color: #93938E;
  font-weight: 600;
  text-transform: uppercase;
}

.content-block__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content-block ._navigator-active {
  color: red;
}

.content-block__cards {
  min-width: 0;
}

.card {
  position: relative;
}

.card:not(:last-child) {
  margin-bottom: 3.75rem;
}

.card__title {
  color: #FFFBEF;
  font-weight: 500;
}

.card__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.card__text {
  width: 39.375rem;
  color: #C1C5C8;
  line-height: 150%;
}

.card__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.card .card__wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.card .card__slide img {
  max-width: 100%;
}

.card__btn-back {
  color: #fff;
}

.card__btn-next {
  color: #fff;
}

.card__image-link img {
  max-width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about__block-right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.about__block-left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.block-right__text {
  color: #EEE;
  line-height: 1.5;
}

.block-right__text:not(:last-child) {
  margin-bottom: 4.5625rem;
}

.block-right__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.block-right__card-info {
  padding-bottom: 6.625rem;
}

.block-right__card-info img {
  max-width: 100%;
}

.block-left__title {
  color: #FFFBEF;
  font-weight: 900;
  text-transform: uppercase;
}

.block-left__subtitle-content {
  color: #FFFBEF;
  font-weight: 600;
  text-transform: uppercase;
}

.block-left__subtitle-content:not(:last-child) {
  margin-bottom: 1.25rem;
}

.block-left__place-of-work:not(:last-child) {
  margin-bottom: 3.125rem;
}

.about-text {
  color: #FFFBEF;
  line-height: 1.5;
  opacity: 0.5;
}

.place-of-work__job-title {
  color: #FFFBEF;
  font-weight: 500;
}

.place-of-work__job-title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.place-of-work__specialization:not(:last-child) {
  margin-bottom: 0.625rem;
}

.place-of-work__period {
  color: #FFFBEF;
  line-height: 1.5;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 81.875em) {
  .footer__title {
    font-size: 3.0625rem;
  }

  .header__logo-name {
    font-size: 1.25rem;
  }

  .menu__list {
    gap: 3.125rem;
  }

  .menu__item {
    font-size: 1.25rem;
  }

  .footer__title {
    font-size: 3.0625rem;
  }

  .block-header__container {
    gap: 6.1875rem;
  }

  .right-block__title {
    font-size: 6.875rem;
  }

  .right-block__sub-title {
    font-size: 1.6875rem;
  }

  .block-content {
    padding-top: 6.25rem;
  }

  .block-content__title {
    font-size: 3.0625rem;
  }

  .block-content__content-block {
    padding-bottom: 6.25rem;
  }

  .content-block__item {
    font-size: 3.0625rem;
  }

  .card__title {
    font-size: 2.4375rem;
  }

  .card__text {
    font-size: 1.25rem;
  }

  .about__container {
    gap: 5rem;
  }

  .block-right__text {
    font-size: 1.125rem;
  }

  .block-left__title {
    font-size: 4.75rem;
  }

  .block-left__title:not(:last-child) {
    margin-bottom: 8.875rem;
  }

  .block-left__subtitle-content {
    font-size: 3.0625rem;
  }

  .block-left__subtitle-text {
    margin-bottom: 7.5rem;
  }

  .about-text {
    font-size: 1.25rem;
  }

  .place-of-work__job-title {
    font-size: 2.4375rem;
  }

  .place-of-work__period {
    font-size: 1.25rem;
  }
}

@media (max-width: 90em) {
  .block-content {
    padding-left: 5rem;
  }
}

@media (max-width: 20em) {
  .footer__title {
    font-size: 2.125rem;
  }

  .header__logo-name {
    font-size: 1.125rem;
  }

  .menu__list {
    gap: 0.625rem;
  }

  .menu__item {
    font-size: 0.875rem;
  }

  .footer__title {
    font-size: 2.125rem;
  }

  .block-header__container {
    gap: 1.25rem;
  }

  .right-block__title {
    font-size: 1.75rem;
  }

  .right-block__sub-title {
    font-size: 1.25rem;
  }

  .block-content {
    padding-top: 1.25rem;
  }

  .block-content__title {
    font-size: 1.875rem;
  }

  .block-content__content-block {
    padding-bottom: 3.125rem;
  }

  .content-block__item {
    font-size: 1.25rem;
  }

  .card__title {
    font-size: 1.25rem;
  }

  .card__text {
    font-size: 0.75rem;
  }

  .about__container {
    gap: 0.625rem;
  }

  .block-right__text {
    font-size: 0.75rem;
  }

  .block-left__title {
    font-size: 1.875rem;
  }

  .block-left__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .block-left__subtitle-content {
    font-size: 1.25rem;
  }

  .block-left__subtitle-text {
    margin-bottom: 1.25rem;
  }

  .about-text {
    font-size: 0.75rem;
  }

  .place-of-work__job-title {
    font-size: 1rem;
  }

  .place-of-work__period {
    font-size: 0.875rem;
  }
}

@media (max-width: 61.99875em) {
  .block-header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .right-block__title {
    padding-top: 0rem;
  }

  .block-content__title {
    text-align: center;
  }

  .content-block__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15.625rem;
            flex: 0 0 15.625rem;
  }

  .card__text {
    width: 100%;
  }

  .card .card__slide {
    width: 100%;
    top: 0;
    left: 0;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-right__card-info {
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .content-block__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 11.25rem;
            flex: 0 0 11.25rem;
  }
}

@media (max-width: 36.25em) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo-name {
    display: none;
  }

  .header__logo {
    padding-right: 1.875rem;
  }
}

@media (max-width: 35.625em) {
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social__mail {
    padding-left: 3.75rem;
    padding-right: 4.375rem;
  }

  .social__mail::before {
    right: 10%;
  }

  .right-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-block__menu {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .header__logo-name {
    display: block;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding: 12.5rem 3.125rem 3.125rem 3.125rem;
    background-color: rgba(199, 195, 184, 0.6784313725);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    background-color: rgba(26, 24, 24, 0.568627451);
    top: 0;
    left: -100%;
    width: 100%;
    height: 6.25rem;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 5;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 30px;
    gap: 2.5rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .menu__item {
    color: #282B2D;
    font-weight: 900;
    letter-spacing: 0.39px;
    text-transform: uppercase;
  }

  .menu__link {
    font-size: 2.4375rem;
  }

  .header__leng .header__flag {
    -webkit-transform: translate(50%, -20px);
        -ms-transform: translate(50%, -20px);
            transform: translate(50%, -20px);
  }

  .header__language {
    opacity: 1;
    width: 17.5rem;
    height: 3.75rem;
    background-color: #fff;
    color: #282B2D;
    font-size: 2.4375rem;
    font-weight: 900;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 1.25rem;
    outline: none;
    text-align: center;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }

  .icon-menu {
    -webkit-transform: translate(0, -12px);
        -ms-transform: translate(0, -12px);
            transform: translate(0, -12px);
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    z-index: 5;
  }

  .menu-open .icon-menu {
    -webkit-transform: translate(100%, 600%);
        -ms-transform: translate(100%, 600%);
            transform: translate(100%, 600%);
    position: relative;
  }

  .menu-open .icon-menu span {
    opacity: 0;
  }

  .menu-open .icon-menu::before {
    content: "";
    background: url("../img/b-menu/close.svg") 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
  }

  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .right-block__sub-title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .block-content {
    padding-left: 0.625rem;
  }

  .block-content__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 29.99875em) and (max-width: 20em) {
  .header__logo-img {
    padding-right: 0.625rem;
  }

  .header__logo {
    padding-right: 0.625rem;
  }

  .icon-menu {
    font-size: 0.875rem;
  }
}

@media (max-width: 29.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 2.125rem , 1.821969697rem  +  1.5151515152vw , 3.0625rem )) {
    .footer__title {
      font-size: clamp( 2.125rem , 1.821969697rem  +  1.5151515152vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.821969697rem  +  1.5151515152vw , 3.0625rem )) {
    .footer__title {
      font-size: calc(2.125rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .header__logo-name {
      font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .header__logo-name {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem )) {
    .menu__list {
      gap: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem )) {
    .menu__list {
      gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .menu__item {
      font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .menu__item {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2.125rem , 1.821969697rem  +  1.5151515152vw , 3.0625rem )) {
    .footer__title {
      font-size: clamp( 2.125rem , 1.821969697rem  +  1.5151515152vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.821969697rem  +  1.5151515152vw , 3.0625rem )) {
    .footer__title {
      font-size: calc(2.125rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , -0.345959596rem  +  7.9797979798vw , 6.1875rem )) {
    .block-header__container {
      gap: clamp( 1.25rem , -0.345959596rem  +  7.9797979798vw , 6.1875rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.345959596rem  +  7.9797979798vw , 6.1875rem )) {
    .block-header__container {
      gap: calc(1.25rem + 4.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.75rem , 0.0934343434rem  +  8.2828282828vw , 6.875rem )) {
    .right-block__title {
      font-size: clamp( 1.75rem , 0.0934343434rem  +  8.2828282828vw , 6.875rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.0934343434rem  +  8.2828282828vw , 6.875rem )) {
    .right-block__title {
      font-size: calc(1.75rem + 5.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1085858586rem  +  0.7070707071vw , 1.6875rem )) {
    .right-block__sub-title {
      font-size: clamp( 1.25rem , 1.1085858586rem  +  0.7070707071vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1085858586rem  +  0.7070707071vw , 1.6875rem )) {
    .right-block__sub-title {
      font-size: calc(1.25rem + 0.4375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.3661616162rem  +  8.0808080808vw , 6.25rem )) {
    .block-content {
      padding-top: clamp( 1.25rem , -0.3661616162rem  +  8.0808080808vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.3661616162rem  +  8.0808080808vw , 6.25rem )) {
    .block-content {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem )) {
    .block-content__title {
      font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem )) {
    .block-content__title {
      font-size: calc(1.875rem + 1.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .block-content__content-block {
      padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .block-content__content-block {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.6641414141rem  +  2.9292929293vw , 3.0625rem )) {
    .content-block__item {
      font-size: clamp( 1.25rem , 0.6641414141rem  +  2.9292929293vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.6641414141rem  +  2.9292929293vw , 3.0625rem )) {
    .content-block__item {
      font-size: calc(1.25rem + 1.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem )) {
    .card__title {
      font-size: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem )) {
    .card__title {
      font-size: calc(1.25rem + 1.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5883838384rem  +  0.8080808081vw , 1.25rem )) {
    .card__text {
      font-size: clamp( 0.75rem , 0.5883838384rem  +  0.8080808081vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5883838384rem  +  0.8080808081vw , 1.25rem )) {
    .card__text {
      font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.625rem , -0.7891414141rem  +  7.0707070707vw , 5rem )) {
    .about__container {
      gap: clamp( 0.625rem , -0.7891414141rem  +  7.0707070707vw , 5rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.7891414141rem  +  7.0707070707vw , 5rem )) {
    .about__container {
      gap: calc(0.625rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .block-right__text {
      font-size: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .block-right__text {
      font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.875rem , 0.9457070707rem  +  4.6464646465vw , 4.75rem )) {
    .block-left__title {
      font-size: clamp( 1.875rem , 0.9457070707rem  +  4.6464646465vw , 4.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 0.9457070707rem  +  4.6464646465vw , 4.75rem )) {
    .block-left__title {
      font-size: calc(1.875rem + 2.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 0.4393939394rem  +  10.303030303vw , 8.875rem )) {
    .block-left__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 0.4393939394rem  +  10.303030303vw , 8.875rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.4393939394rem  +  10.303030303vw , 8.875rem )) {
    .block-left__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 6.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.6641414141rem  +  2.9292929293vw , 3.0625rem )) {
    .block-left__subtitle-content {
      font-size: clamp( 1.25rem , 0.6641414141rem  +  2.9292929293vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.6641414141rem  +  2.9292929293vw , 3.0625rem )) {
    .block-left__subtitle-content {
      font-size: calc(1.25rem + 1.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .block-left__subtitle-text {
      margin-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .block-left__subtitle-text {
      margin-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5883838384rem  +  0.8080808081vw , 1.25rem )) {
    .about-text {
      font-size: clamp( 0.75rem , 0.5883838384rem  +  0.8080808081vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5883838384rem  +  0.8080808081vw , 1.25rem )) {
    .about-text {
      font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1rem , 0.5353535354rem  +  2.3232323232vw , 2.4375rem )) {
    .place-of-work__job-title {
      font-size: clamp( 1rem , 0.5353535354rem  +  2.3232323232vw , 2.4375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.5353535354rem  +  2.3232323232vw , 2.4375rem )) {
    .place-of-work__job-title {
      font-size: calc(1rem + 1.4375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .place-of-work__period {
      font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .place-of-work__period {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}
}

@media (max-width: 29.99875em) and (min-width: 81.875em) {
  .header__logo-img {
    padding-right: 3.125rem;
  }

  .header__logo {
    padding-right: 3.125rem;
  }

  .icon-menu {
    font-size: 1rem;
  }
}

@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 81.875em) {
@supports (padding-right: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem )) {
    .header__logo-img {
      padding-right: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem )) {
    .header__logo-img {
      padding-right: calc(0.625rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem )) {
    .header__logo {
      padding-right: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.1830808081rem  +  4.0404040404vw , 3.125rem )) {
    .header__logo {
      padding-right: calc(0.625rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem )) {
    .icon-menu {
      font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem )) {
    .icon-menu {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .social__linkedin:hover,
  .social__mail:hover,
  .social__telegram:hover {
    background-color: rgba(128, 128, 128, 0.486);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu__link:hover {
    color: red;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .content-block__link:hover {
    color: red;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .card__image-link img:hover {
    -webkit-transform: translateX(100px) scale(1.3);
        -ms-transform: translateX(100px) scale(1.3);
            transform: translateX(100px) scale(1.3);
    -webkit-transition: all 0.5;
    transition: all 0.5;
  }
}