@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,regular,500,600,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Ovo:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Geologica:300,regular,500,600,800,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Semibold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Geologica";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Geologica";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #282B2D;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #282B2D;
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-name {
  color: #C7C3B8;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.header__logo {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.header__actions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 3.125rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.menu__item {
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 1%;
  color: #C7C3B8;
}

.menu__link {
  position: relative;
  padding-bottom: 0.3125rem;
}

.menu__link::before {
  content: "";
  height: 0.125rem;
  width: 0%;
  background-color: #C6C0C0;
  bottom: 0;
  left: 50%;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__leng .header__flag {
  position: absolute;
  right: 0px;
}

.header__leng .header__en {
  display: none;
}

.header__leng .header__pl {
  display: none;
}

.header__leng .header__by {
  display: none;
}

.header__leng .flag-active {
  display: block;
  z-index: 10;
}

select {
  opacity: 0;
  height: 2rem;
  width: 2.5rem;
  background-color: #000;
}

select:focus-visible {
  outline: none;
}

.icon-menu {
  display: none;
}

.footer {
  height: 400px;
}

.block-header {
  padding-top: 4.0625rem;
  padding-bottom: 1.9375rem;
}

.block-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.left-block__image img {
  max-width: 100%;
  height: auto;
}

.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.right-block__title {
  color: #FFFBEF;
  font-weight: 900;
  line-height: 90%;
  /* 101.7px */
  letter-spacing: 1.13px;
  padding-top: 3.125rem;
}

.right-block__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.right-block__sub-title {
  color: #605D53;
  font-size: 1.6875rem;
  font-weight: 500;
}

.right-block__sub-title:not(:last-child) {
  margin-bottom: 4.3125rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  padding-top: 1.625rem;
  color: #FFFBEF;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social__linkedin,
.social__mail,
.social__telegram {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  padding: 1.0625rem 3rem 1.0625rem 1.5rem;
  border-radius: 2.5rem;
  border: 1px solid #FFFBEF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social__linkedin::before,
.social__mail::before,
.social__telegram::before {
  content: "";
  background: url("../img/header-block/vector.svg") 0 0 no-repeat;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 40%;
  right: 20px;
}

.social__mail::before {
  content: "";
  background: url("../img/header-block/vector.svg") 0 0 no-repeat;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 40%;
  right: 20%;
}

.block-content {
  padding-left: 5rem;
}

.block-content__title {
  color: #FFFBEF;
  font-weight: 600;
  text-transform: uppercase;
}

.block-content__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.25rem;
}

.content-block__menu {
  height: 50%;
  position: sticky;
  top: 8.125rem;
}

.content-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.content-block__item {
  color: #93938E;
  font-weight: 600;
  text-transform: uppercase;
}

.content-block__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content-block__cards {
  height: 100%;
}

.card {
  position: relative;
}

.card__title {
  color: #FFFBEF;
  font-weight: 500;
}

.card__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.card__text {
  color: #C1C5C8;
  line-height: 150%;
}

.card__images {
  position: absolute;
  top: 9.375rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

@media (min-width: 81.875em) {
  .block-header__container {
    gap: 6.1875rem;
  }

  .right-block__title {
    font-size: 6.875rem;
  }

  .block-content {
    padding-top: 6.25rem;
  }

  .block-content__title {
    font-size: 3.0625rem;
  }

  .content-block__item {
    font-size: 3.0625rem;
  }

  .card__title {
    font-size: 2.4375rem;
  }

  .card__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .block-header__container {
    gap: 1.25rem;
  }

  .right-block__title {
    font-size: 1.25rem;
  }

  .block-content {
    padding-top: 3.125rem;
  }

  .block-content__title {
    font-size: 1.875rem;
  }

  .content-block__item {
    font-size: 1.875rem;
  }

  .card__title {
    font-size: 1.25rem;
  }

  .card__text {
    font-size: 1rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding: 6.25rem 1.875rem 1.875rem 0.625rem;
    background-color: white;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    background-color: white;
    top: 0;
    left: -100%;
    width: 100%;
    height: 6.25rem;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 5;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .header__logo-name {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (gap: clamp( 1.25rem , -0.345959596rem  +  7.9797979798vw , 6.1875rem )) {
    .block-header__container {
      gap: clamp( 1.25rem , -0.345959596rem  +  7.9797979798vw , 6.1875rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.345959596rem  +  7.9797979798vw , 6.1875rem )) {
    .block-header__container {
      gap: calc(1.25rem + 4.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.875rem )) {
    .right-block__title {
      font-size: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.875rem )) {
    .right-block__title {
      font-size: calc(1.25rem + 5.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .block-content {
      padding-top: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .block-content {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem )) {
    .block-content__title {
      font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem )) {
    .block-content__title {
      font-size: calc(1.875rem + 1.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem )) {
    .content-block__item {
      font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4911616162rem  +  1.9191919192vw , 3.0625rem )) {
    .content-block__item {
      font-size: calc(1.875rem + 1.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem )) {
    .card__title {
      font-size: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem )) {
    .card__title {
      font-size: calc(1.25rem + 1.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .card__text {
      font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .card__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #a8a4a4;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu__link:hover::before {
    content: "";
    background-color: #a8a4a4;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .social__linkedin:hover,
  .social__mail:hover,
  .social__telegram:hover {
    background-color: rgba(128, 128, 128, 0.486);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .content-block__link:hover {
    color: red;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .card__images:hover {
    left: -85%;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }
}