@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Clicker+Script:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Playfair Display";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Playfair Display";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button__link {
  display: inline-block;
  min-width: 8.375rem;
  text-align: center;
  color: #1E1E1E;
  font-weight: 700;
  padding: 0.875rem 1.5rem;
  background-color: #F9C06A;
  border-radius: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.title {
  color: #603809;
  font-weight: 700;
}

.title_white {
  color: white;
  line-height: 1.5;
}

.text {
  line-height: 1.7;
  color: #707070;
}

.sub-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #603809;
}

.subtitle {
  font-weight: 700;
  color: #fff;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header__logo {
  font-family: "Clicker Script";
  font-size: 2.1875rem;
  font-weight: 400;
  padding: 0rem 0.3125rem 0rem 0.3125rem;
  z-index: 5;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
  background-color: rgba(91, 54, 11, 0.4431372549);
  -webkit-box-shadow: 0px 3px 7px rgba(91, 54, 11, 0.5411764706);
          box-shadow: 0px 3px 7px rgba(91, 54, 11, 0.5411764706);
}

.header._header-show {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  top: 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  padding: 0rem 0.3125rem 0rem 0.3125rem;
}

.menu__link {
  position: relative;
  font-size: 0.875rem;
  padding-bottom: 0.3125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.0625rem;
  background-color: #F9C06A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-header__link {
  position: relative;
  font-size: 0.875rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.3125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.action-header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.0625rem;
  background-color: #F9C06A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.action-header__button {
  color: #000;
  font-size: 0.875rem;
  padding: 0.875rem 1.6875rem;
  background-color: #F9C06A;
  border-radius: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
}

.footer__container {
  position: relative;
  z-index: 10;
}

.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-footer__title {
  font-family: "Clicker Script";
  color: #fff;
}

.body-footer__text {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5714285714;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.social svg {
  fill: #fff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.375rem;
}

.about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 8.5rem;
}

.about__link {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.375rem;
}

.company__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 8.5rem;
}

.company__link {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.3125rem;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.375rem;
}

.contact__item {
  color: #fff;
  width: 18.75rem;
}

.main {
  position: relative;
  min-height: 100vh;
}

.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__img img {
  position: absolute;
  -webkit-animation: heart 10s forwards;
          animation: heart 10s forwards;
  opacity: 0;
}

.header-main {
  position: relative;
  color: #fff;
  max-width: 32.9375rem;
}

.header-main__sub-title {
  font-weight: 500;
  padding: 1.875rem 0.625rem 0.625rem 0.625rem;
}

.header-main__title {
  font-family: "Clicker Script";
  font-weight: 400;
  padding-top: 3.125rem;
  padding-bottom: 2.1875rem;
}

.header-main__text {
  color: #fff;
  line-height: 1.7;
  font-weight: 600;
}

.header-main__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-content__image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.article-content__image img {
  width: 100%;
  height: 100%;
}

.article-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8125rem;
}

.coffe-style {
  position: relative;
}

.coffe-style__decor {
  position: absolute;
}

.coffe-style__container {
  padding-bottom: 2.1875rem;
}

.coffe-style__title {
  text-align: center;
}

.coffe-style__title:not(:last-child) {
  margin-bottom: 1rem;
}

.coffe-style__text {
  text-align: center;
}

.coffe-style__text:not(:last-child) {
  margin-bottom: 2rem;
}

.coffe-style__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__content {
  background-color: #fff9f1;
}

.card__image-ibg {
  display: block;
  padding-bottom: 72.1649484536%;
  overflow: hidden;
}

.card__image-ibg img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17.5rem;
  padding-top: 0.875rem;
  padding-bottom: 2.625rem;
  gap: 0.625rem;
}

.card__body-title {
  font-size: 1.375rem;
  color: #603809;
  font-weight: 700;
}

.card__body-compound {
  color: #1E1E1E;
}

.card__body-price {
  font-size: 1.125rem;
  font-weight: 700;
  color: #603809;
}

.card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.page__motivation {
  padding-bottom: 5.3125rem;
  position: relative;
}

.motivation__image {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  right: 0;
  top: 0;
}

.motivation__title {
  text-align: center;
}

.motivation__title:not(:last-child) {
  margin-bottom: 1rem;
}

.motivation__text {
  text-align: center;
}

.motivation__text:not(:last-child) {
  margin-bottom: 2rem;
}

.motivation__items {
  display: -ms-grid;
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 1.25rem;
}

.motivation__items:not(:last-child) {
  margin-bottom: 2rem;
}

.motivation__item {
  background-color: #fff9f1;
  border: 0.0625rem solid #fce4bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.25rem 2.0625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.motivation__image-item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.motivation__sub-title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.motivation__text-item {
  line-height: 1.5;
  text-align: center;
}

.motivation__text-footer {
  text-align: center;
}

.motivation__text-footer:not(:last-child) {
  margin-bottom: 0.625rem;
}

.motivation__sub-title-footer {
  text-align: center;
}

.motivation__sub-title-footer:not(:last-child) {
  margin-bottom: 1.5rem;
}

.motivation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-cofee {
  position: relative;
  padding-top: 4.1875rem;
  padding-bottom: 2.5rem;
}

.block-coffee__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-coffee__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.block-coffee__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item {
  position: relative;
}

.item__image img {
  max-width: 100%;
}

.body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35.9375rem;
          flex: 1 1 35.9375rem;
  width: 35.9375rem;
}

.body__title:not(:last-child) {
  margin-bottom: 1.375rem;
}

.body__text {
  font-size: 1.25rem;
  color: white;
  line-height: 1.7;
}

.body__text:not(:last-child) {
  margin-bottom: 1.375rem;
}

.page__feedback {
  position: relative;
}

.feedback .feedback__content {
  position: relative;
}

.feedback__title {
  text-align: center;
}

.feedback__title:not(:last-child) {
  margin-bottom: 1rem;
}

.feedback__text {
  text-align: center;
}

.feedback__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.feedback__slider {
  background-color: #fff9f1;
  text-align: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.feedback__slider::before {
  content: "“";
  line-height: 0.5090909091;
  color: #603809;
  font-weight: 700;
  position: absolute;
  top: 12.5rem;
  left: 2.8125rem;
}

.feedback__decor-up {
  position: absolute;
  top: 10rem;
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.feedback__decor-up img {
  max-width: 100%;
}

.feedback__decor-down {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  position: absolute;
  bottom: 5rem;
  left: 0;
}

.feedback__decor-down img {
  max-width: 100%;
}

.feedback__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__slide .feedback__slide-text {
  color: #707070;
  line-height: 2;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.feedback__slide .feedback__slide-text:not(:last-child) {
  margin-bottom: 1.75rem;
}

.feedback__slide .feedback__slide-name {
  font-size: 2rem;
  font-weight: 700;
  color: #603809;
}

.feedback__slide .feedback__slide-name:not(:last-child) {
  margin-bottom: 0.25rem;
}

.feedback__slide__slide-profession {
  font-size: 1.25rem;
  color: #707070;
  line-height: 1.7;
}

.feedback__slide__slide-profession:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.feedback__button-prev {
  padding: 1.8125rem;
  border-radius: 1rem;
  background-color: #F9C06A;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feedback__button-prev svg {
  fill: #603809;
}

.feedback__button-next {
  padding: 1.8125rem;
  border-radius: 1rem;
  background-color: #F9C06A;
  position: absolute;
  top: 55%;
  right: 0;
  -webkit-transform: translate(50%, 0) rotate(180deg);
      -ms-transform: translate(50%, 0) rotate(180deg);
          transform: translate(50%, 0) rotate(180deg);
  font-size: 0rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feedback__button-next svg {
  fill: #603809;
}

.subscription {
  position: relative;
}

.subscription__body {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.subscription__body .subscription__title {
  text-align: center;
}

.subscription__body .subscription__text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.7;
  text-align: center;
}

.subscription__body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40.125rem;
}

.subscription__body .input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.subscription__body .button {
  padding: 1.1875rem 1.5rem;
  background-color: #F9C06A;
  color: #603809;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
}

.subscription__body .form__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  font-weight: 700;
}

.subscription__bg {
  background-color: #6d3c00;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.subscription__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  -o-object-fit: cover;
     object-fit: cover;
}

.subscription__decor-left {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, 30%);
      -ms-transform: translate(0, 30%);
          transform: translate(0, 30%);
  z-index: 10;
}

.subscription__decor-right {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotateY(180deg) translate(0, 30%);
          transform: rotateY(180deg) translate(0, 30%);
  z-index: 10;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .main__img img {
    min-width: 12.5rem;
    height: 40%;
    top: 10%;
    left: 52%;
  }

@-webkit-keyframes heart {
    0% {
      opacity: 0;
      -webkit-transform: translate(30%, 70%);
              transform: translate(30%, 70%);
    }

    20% {
      opacity: 0;
    }

    50% {
      -webkit-transform: skew(7deg, 0deg);
              transform: skew(7deg, 0deg);
      opacity: 0.3;
    }

    100% {
      opacity: 0.6;
    }
}

@keyframes heart {
    0% {
      opacity: 0;
      -webkit-transform: translate(30%, 70%);
              transform: translate(30%, 70%);
    }

    20% {
      opacity: 0;
    }

    50% {
      -webkit-transform: skew(7deg, 0deg);
              transform: skew(7deg, 0deg);
      opacity: 0.3;
    }

    100% {
      opacity: 0.6;
    }
}
}

@media (min-width: 61.99875em) and (min-width: 75.625em) {
  .menu__body {
    gap: 13.75rem;
  }
}

@media (min-width: 61.99875em) {
  .article-content__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 36.5625rem;
            flex: 1 0 36.5625rem;
  }
}

@media (min-width: 73.125em) {
  .content-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 23.75rem 1fr;
    grid-template-columns: 23.75rem 1fr;
  }
}

@media (min-width: 73.125em) and (min-width: 75.625em) {
  .content-footer {
    gap: 4.125rem;
  }
}

@media (min-width: 75.625em) {
  .title {
    font-size: 3.375rem;
  }

  .text {
    font-size: 1.25rem;
  }

  .subtitle {
    font-size: 1.625rem;
  }

  .header__container {
    padding-top: 1.6875rem;
  }

  .header__container {
    padding-bottom: 1.6875rem;
  }

  .menu__list {
    gap: 3.75rem;
  }

  .action-header {
    gap: 2.1875rem;
  }

  .footer {
    padding-top: 10.125rem;
  }

  .footer {
    padding-bottom: 4.5rem;
  }

  .content-footer {
    gap: 4.125rem;
  }

  .body-footer__title {
    font-size: 3.375rem;
  }

  .navigation {
    gap: 4.125rem;
  }

  .about {
    gap: 3.4375rem;
  }

  .about__link {
    font-size: 1.125rem;
  }

  .company {
    gap: 3.4375rem;
  }

  .company__link {
    font-size: 1.125rem;
  }

  .contact__item {
    font-size: 1.125rem;
  }

  .main {
    padding-top: 11.4375rem;
  }

  .main {
    padding-bottom: 5.9375rem;
  }

  .header-main__sub-title {
    font-size: 1.375rem;
  }

  .header-main__title {
    font-size: 13.75rem;
  }

  .header-main__text {
    font-size: 1.25rem;
  }

  .content__container {
    padding-top: 9.375rem;
  }

  .article-content {
    gap: 5.9375rem;
  }

  .coffe-style__container {
    padding-top: 9.375rem;
  }

  .page__motivation {
    padding-top: 3.125rem;
  }

  .block-coffee__container {
    gap: 14.0625rem;
  }

  .page__feedback {
    padding-top: 5rem;
  }

  .page__feedback {
    padding-bottom: 5rem;
  }

  .page__feedback {
    padding-left: 5rem;
  }

  .page__feedback {
    padding-right: 5rem;
  }

  .feedback__container {
    padding-left: 6.25rem;
  }

  .feedback__container {
    padding-right: 6.25rem;
  }

  .feedback__slider {
    padding-top: 8.375rem;
  }

  .feedback__slider::before {
    font-size: 13.75rem;
  }

  .feedback__slide .feedback__slide-text {
    font-size: 1.125rem;
  }

  .feedback__slide .feedback__slide-text p {
    padding-left: 6.25rem;
  }

  .feedback__slide .feedback__slide-text p {
    padding-right: 6.25rem;
  }

  .subscription {
    padding-left: 12.0625rem;
  }

  .subscription {
    padding-right: 12.0625rem;
  }

  .subscription {
    padding-top: 5rem;
  }

  .subscription {
    padding-bottom: 5rem;
  }

  .subscription__body form {
    width: 40.125rem;
  }

  .subscription__body .input {
    hight: 3.75rem;
  }

  .subscription__body .button {
    font-size: 1.375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .text {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .header__container {
    padding-top: 1.25rem;
  }

  .header__container {
    padding-bottom: 1.25rem;
  }

  .menu__list {
    gap: 0.3125rem;
  }

  .action-header {
    gap: 0.625rem;
  }

  .footer {
    padding-top: 3.125rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .content-footer {
    gap: 1.25rem;
  }

  .body-footer__title {
    font-size: 2.125rem;
  }

  .navigation {
    gap: 1.25rem;
  }

  .about {
    gap: 1.875rem;
  }

  .about__link {
    font-size: 0.875rem;
  }

  .company {
    gap: 1.875rem;
  }

  .company__link {
    font-size: 0.875rem;
  }

  .contact__item {
    font-size: 0.875rem;
  }

  .main {
    padding-top: 3.125rem;
  }

  .main {
    padding-bottom: 1.25rem;
  }

  .header-main__sub-title {
    font-size: 1rem;
  }

  .header-main__title {
    font-size: 7.5rem;
  }

  .header-main__text {
    font-size: 0.75rem;
  }

  .content__container {
    padding-top: 0.625rem;
  }

  .article-content {
    gap: 1.875rem;
  }

  .coffe-style__container {
    padding-top: 0.625rem;
  }

  .page__motivation {
    padding-top: 0.625rem;
  }

  .block-coffee__container {
    gap: 1.875rem;
  }

  .page__feedback {
    padding-top: 1.25rem;
  }

  .page__feedback {
    padding-bottom: 1.25rem;
  }

  .page__feedback {
    padding-left: 0.625rem;
  }

  .page__feedback {
    padding-right: 0.625rem;
  }

  .feedback__container {
    padding-left: 0.625rem;
  }

  .feedback__container {
    padding-right: 0.625rem;
  }

  .feedback__slider {
    padding-top: 1.25rem;
  }

  .feedback__slider::before {
    font-size: 6.25rem;
  }

  .feedback__slide .feedback__slide-text {
    font-size: 0.625rem;
  }

  .feedback__slide .feedback__slide-text p {
    padding-left: 1.875rem;
  }

  .feedback__slide .feedback__slide-text p {
    padding-right: 1.875rem;
  }

  .subscription {
    padding-left: 0.625rem;
  }

  .subscription {
    padding-right: 0.625rem;
  }

  .subscription {
    padding-top: 1.875rem;
  }

  .subscription {
    padding-bottom: 1.875rem;
  }

  .subscription__body form {
    width: 18.75rem;
  }

  .subscription__body .input {
    hight: 2.5rem;
  }

  .subscription__body .button {
    font-size: 1rem;
  }
}

@media (max-width: 75.625em) {
  .motivation__image {
    display: none;
  }
}

@media (max-width: 72.625em) {
  .subscription__decor-left img {
    max-width: 70%;
  }

  .subscription__decor-right img {
    max-width: 70%;
    -webkit-transform: translate(0, 75%);
        -ms-transform: translate(0, 75%);
            transform: translate(0, 75%);
  }
}

@media (max-width: 61.99875em) {
  .article-content__image img {
    width: 70%;
    height: 70%;
  }

  .article-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .coffe-style__decor {
    display: none;
  }

  .feedback__slider::before {
    display: none;
  }

  .feedback__decor-up {
    display: none;
  }

  .feedback__decor-down {
    display: none;
  }

  .subscription__decor-left {
    display: none;
  }

  .subscription__decor-right {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding: 9.375rem 1.875rem 3.125rem 1.875rem;
    background-color: rgba(83, 39, 39, 0.95);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    background-color: #603809;
    top: 0;
    left: -100%;
    width: 100%;
    height: 5rem;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 5;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4.375rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    top: 0px;
    left: 0px;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__container {
    padding-top: 6.25rem;
  }

  .main__img img {
    opacity: 0.6;
    min-width: 12.5rem;
    height: 40%;
    top: 10%;
    left: 50%;
  }

  .item__image {
    display: none;
  }

  .body__text {
    text-align: center;
  }

  .title_white {
    text-align: center;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__link {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .feedback__button-prev {
    padding: 0.625rem;
    border-radius: 0.3125rem;
  }

  .feedback__button-next {
    padding: 0.625rem;
    border-radius: 0.3125rem;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 1.875rem , 1.3356741573rem  +  2.6966292135vw , 3.375rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.3356741573rem  +  2.6966292135vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.3356741573rem  +  2.6966292135vw , 3.375rem )) {
    .title {
      font-size: calc(1.875rem + 1.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.9101123596rem  +  0.4494382022vw , 1.25rem )) {
    .text {
      font-size: clamp( 1rem , 0.9101123596rem  +  0.4494382022vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9101123596rem  +  0.4494382022vw , 1.25rem )) {
    .text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.7752808989rem  +  1.1235955056vw , 1.625rem )) {
    .subtitle {
      font-size: clamp( 1rem , 0.7752808989rem  +  1.1235955056vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7752808989rem  +  1.1235955056vw , 1.625rem )) {
    .subtitle {
      font-size: calc(1rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0926966292rem  +  0.7865168539vw , 1.6875rem )) {
    .header__container {
      padding-top: clamp( 1.25rem , 1.0926966292rem  +  0.7865168539vw , 1.6875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0926966292rem  +  0.7865168539vw , 1.6875rem )) {
    .header__container {
      padding-top: calc(1.25rem + 0.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0926966292rem  +  0.7865168539vw , 1.6875rem )) {
    .header__container {
      padding-bottom: clamp( 1.25rem , 1.0926966292rem  +  0.7865168539vw , 1.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0926966292rem  +  0.7865168539vw , 1.6875rem )) {
    .header__container {
      padding-bottom: calc(1.25rem + 0.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 0.3125rem , -0.9234550562rem  +  6.1797752809vw , 3.75rem )) {
    .menu__list {
      gap: clamp( 0.3125rem , -0.9234550562rem  +  6.1797752809vw , 3.75rem );
    }
}

@supports not (gap: clamp( 0.3125rem , -0.9234550562rem  +  6.1797752809vw , 3.75rem )) {
    .menu__list {
      gap: calc(0.3125rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 0.625rem , 0.0632022472rem  +  2.808988764vw , 2.1875rem )) {
    .action-header {
      gap: clamp( 0.625rem , 0.0632022472rem  +  2.808988764vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.0632022472rem  +  2.808988764vw , 2.1875rem )) {
    .action-header {
      gap: calc(0.625rem + 1.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.6081460674rem  +  12.5842696629vw , 10.125rem )) {
    .footer {
      padding-top: clamp( 3.125rem , 0.6081460674rem  +  12.5842696629vw , 10.125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.6081460674rem  +  12.5842696629vw , 10.125rem )) {
    .footer {
      padding-top: calc(3.125rem + 7 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0814606742rem  +  5.8426966292vw , 4.5rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.0814606742rem  +  5.8426966292vw , 4.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0814606742rem  +  5.8426966292vw , 4.5rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 3.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem )) {
    .content-footer {
      gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem )) {
    .content-footer {
      gap: calc(1.25rem + 2.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem )) {
    .body-footer__title {
      font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem )) {
    .body-footer__title {
      font-size: calc(2.125rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem )) {
    .navigation {
      gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem )) {
    .navigation {
      gap: calc(1.25rem + 2.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.875rem , 1.3132022472rem  +  2.808988764vw , 3.4375rem )) {
    .about {
      gap: clamp( 1.875rem , 1.3132022472rem  +  2.808988764vw , 3.4375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.3132022472rem  +  2.808988764vw , 3.4375rem )) {
    .about {
      gap: calc(1.875rem + 1.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem )) {
    .about__link {
      font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem )) {
    .about__link {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.875rem , 1.3132022472rem  +  2.808988764vw , 3.4375rem )) {
    .company {
      gap: clamp( 1.875rem , 1.3132022472rem  +  2.808988764vw , 3.4375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.3132022472rem  +  2.808988764vw , 3.4375rem )) {
    .company {
      gap: calc(1.875rem + 1.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem )) {
    .company__link {
      font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem )) {
    .company__link {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem )) {
    .contact__item {
      font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7851123596rem  +  0.4494382022vw , 1.125rem )) {
    .contact__item {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.1362359551rem  +  14.9438202247vw , 11.4375rem )) {
    .main {
      padding-top: clamp( 3.125rem , 0.1362359551rem  +  14.9438202247vw , 11.4375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.1362359551rem  +  14.9438202247vw , 11.4375rem )) {
    .main {
      padding-top: calc(3.125rem + 8.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.4353932584rem  +  8.4269662921vw , 5.9375rem )) {
    .main {
      padding-bottom: clamp( 1.25rem , -0.4353932584rem  +  8.4269662921vw , 5.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.4353932584rem  +  8.4269662921vw , 5.9375rem )) {
    .main {
      padding-bottom: calc(1.25rem + 4.6875 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.8651685393rem  +  0.6741573034vw , 1.375rem )) {
    .header-main__sub-title {
      font-size: clamp( 1rem , 0.8651685393rem  +  0.6741573034vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8651685393rem  +  0.6741573034vw , 1.375rem )) {
    .header-main__sub-title {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 7.5rem , 5.2528089888rem  +  11.2359550562vw , 13.75rem )) {
    .header-main__title {
      font-size: clamp( 7.5rem , 5.2528089888rem  +  11.2359550562vw , 13.75rem );
    }
}

@supports not (font-size: clamp( 7.5rem , 5.2528089888rem  +  11.2359550562vw , 13.75rem )) {
    .header-main__title {
      font-size: calc(7.5rem + 6.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5702247191rem  +  0.8988764045vw , 1.25rem )) {
    .header-main__text {
      font-size: clamp( 0.75rem , 0.5702247191rem  +  0.8988764045vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5702247191rem  +  0.8988764045vw , 1.25rem )) {
    .header-main__text {
      font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 0.625rem , -2.5210674157rem  +  15.7303370787vw , 9.375rem )) {
    .content__container {
      padding-top: clamp( 0.625rem , -2.5210674157rem  +  15.7303370787vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -2.5210674157rem  +  15.7303370787vw , 9.375rem )) {
    .content__container {
      padding-top: calc(0.625rem + 8.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.875rem , 0.4143258427rem  +  7.3033707865vw , 5.9375rem )) {
    .article-content {
      gap: clamp( 1.875rem , 0.4143258427rem  +  7.3033707865vw , 5.9375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.4143258427rem  +  7.3033707865vw , 5.9375rem )) {
    .article-content {
      gap: calc(1.875rem + 4.0625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 0.625rem , -2.5210674157rem  +  15.7303370787vw , 9.375rem )) {
    .coffe-style__container {
      padding-top: clamp( 0.625rem , -2.5210674157rem  +  15.7303370787vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -2.5210674157rem  +  15.7303370787vw , 9.375rem )) {
    .coffe-style__container {
      padding-top: calc(0.625rem + 8.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.2738764045rem  +  4.4943820225vw , 3.125rem )) {
    .page__motivation {
      padding-top: clamp( 0.625rem , -0.2738764045rem  +  4.4943820225vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.2738764045rem  +  4.4943820225vw , 3.125rem )) {
    .page__motivation {
      padding-top: calc(0.625rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.875rem , -2.5070224719rem  +  21.9101123596vw , 14.0625rem )) {
    .block-coffee__container {
      gap: clamp( 1.875rem , -2.5070224719rem  +  21.9101123596vw , 14.0625rem );
    }
}

@supports not (gap: clamp( 1.875rem , -2.5070224719rem  +  21.9101123596vw , 14.0625rem )) {
    .block-coffee__container {
      gap: calc(1.875rem + 12.1875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .page__feedback {
      padding-top: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .page__feedback {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .page__feedback {
      padding-bottom: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .page__feedback {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem )) {
    .page__feedback {
      padding-left: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem )) {
    .page__feedback {
      padding-left: calc(0.625rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem )) {
    .page__feedback {
      padding-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem )) {
    .page__feedback {
      padding-right: calc(0.625rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem )) {
    .feedback__container {
      padding-left: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem )) {
    .feedback__container {
      padding-left: calc(0.625rem + 5.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem )) {
    .feedback__container {
      padding-right: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem )) {
    .feedback__container {
      padding-right: calc(0.625rem + 5.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.3117977528rem  +  12.808988764vw , 8.375rem )) {
    .feedback__slider {
      padding-top: clamp( 1.25rem , -1.3117977528rem  +  12.808988764vw , 8.375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.3117977528rem  +  12.808988764vw , 8.375rem )) {
    .feedback__slider {
      padding-top: calc(1.25rem + 7.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 6.25rem , 3.5533707865rem  +  13.4831460674vw , 13.75rem )) {
    .feedback__slider::before {
      font-size: clamp( 6.25rem , 3.5533707865rem  +  13.4831460674vw , 13.75rem );
    }
}

@supports not (font-size: clamp( 6.25rem , 3.5533707865rem  +  13.4831460674vw , 13.75rem )) {
    .feedback__slider::before {
      font-size: calc(6.25rem + 7.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.625rem , 0.4452247191rem  +  0.8988764045vw , 1.125rem )) {
    .feedback__slide .feedback__slide-text {
      font-size: clamp( 0.625rem , 0.4452247191rem  +  0.8988764045vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.4452247191rem  +  0.8988764045vw , 1.125rem )) {
    .feedback__slide .feedback__slide-text {
      font-size: calc(0.625rem + 0.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .feedback__slide .feedback__slide-text p {
      padding-left: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .feedback__slide .feedback__slide-text p {
      padding-left: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .feedback__slide .feedback__slide-text p {
      padding-right: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .feedback__slide .feedback__slide-text p {
      padding-right: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.625rem , -3.4873595506rem  +  20.5617977528vw , 12.0625rem )) {
    .subscription {
      padding-left: clamp( 0.625rem , -3.4873595506rem  +  20.5617977528vw , 12.0625rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -3.4873595506rem  +  20.5617977528vw , 12.0625rem )) {
    .subscription {
      padding-left: calc(0.625rem + 11.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.625rem , -3.4873595506rem  +  20.5617977528vw , 12.0625rem )) {
    .subscription {
      padding-right: clamp( 0.625rem , -3.4873595506rem  +  20.5617977528vw , 12.0625rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -3.4873595506rem  +  20.5617977528vw , 12.0625rem )) {
    .subscription {
      padding-right: calc(0.625rem + 11.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .subscription {
      padding-top: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .subscription {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .subscription {
      padding-bottom: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .subscription {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (width: clamp( 18.75rem , 11.0646067416rem  +  38.4269662921vw , 40.125rem )) {
    .subscription__body form {
      width: clamp( 18.75rem , 11.0646067416rem  +  38.4269662921vw , 40.125rem );
    }
}

@supports not (width: clamp( 18.75rem , 11.0646067416rem  +  38.4269662921vw , 40.125rem )) {
    .subscription__body form {
      width: calc(18.75rem + 21.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (hight: clamp( 2.5rem , 2.0505617978rem  +  2.2471910112vw , 3.75rem )) {
    .subscription__body .input {
      hight: clamp( 2.5rem , 2.0505617978rem  +  2.2471910112vw , 3.75rem );
    }
}

@supports not (hight: clamp( 2.5rem , 2.0505617978rem  +  2.2471910112vw , 3.75rem )) {
    .subscription__body .input {
      hight: calc(2.5rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.8651685393rem  +  0.6741573034vw , 1.375rem )) {
    .subscription__body .button {
      font-size: clamp( 1rem , 0.8651685393rem  +  0.6741573034vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8651685393rem  +  0.6741573034vw , 1.375rem )) {
    .subscription__body .button {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (gap: clamp( 0.3125rem , -4.5189606742rem  +  24.1573033708vw , 13.75rem )) {
    .menu__body {
      gap: clamp( 0.3125rem , -4.5189606742rem  +  24.1573033708vw , 13.75rem );
    }
}

@supports not (gap: clamp( 0.3125rem , -4.5189606742rem  +  24.1573033708vw , 13.75rem )) {
    .menu__body {
      gap: calc(0.3125rem + 13.4375 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 20em) {
  .menu__body {
    gap: 0.3125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 75.625em) {
  .menu__link {
    font-size: 3.75rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 1.875rem , 1.2008426966rem  +  3.3707865169vw , 3.75rem )) {
    .menu__link {
      font-size: clamp( 1.875rem , 1.2008426966rem  +  3.3707865169vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2008426966rem  +  3.3707865169vw , 3.75rem )) {
    .menu__link {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 73.125em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (gap: clamp( 0.625rem , -0.6334269663rem  +  6.2921348315vw , 4.125rem )) {
    .content-footer {
      gap: clamp( 0.625rem , -0.6334269663rem  +  6.2921348315vw , 4.125rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.6334269663rem  +  6.2921348315vw , 4.125rem )) {
    .content-footer {
      gap: calc(0.625rem + 3.5 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 73.125em) and (max-width: 20em) {
  .content-footer {
    gap: 0.625rem;
  }
}

@media (any-hover: hover) {
  .button__link:hover {
    background-color: #603809;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu__link:hover {
    color: #F9C06A;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu__link:hover::before {
    content: "";
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .action-header__link:hover {
    color: #F9C06A;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .action-header__link:hover::before {
    content: "";
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .action-header__button:hover {
    background-color: #a55000;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .social__fb:hover svg {
    fill: #817c7c;
  }

  .social__insta:hover svg {
    fill: #817c7c;
  }

  .social__youtube:hover svg {
    fill: #817c7c;
  }

  .social__tw:hover svg {
    fill: #817c7c;
  }

  .about__link:hover {
    color: #817c7c;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .company__link:hover {
    color: #817c7c;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .contact__link:hover {
    color: #817c7c;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .card__image-ibg img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }

  .motivation__item:hover {
    background-color: #ffeed8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .feedback__button-prev:hover {
    background-color: #603809;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .feedback__button-prev:hover svg {
    fill: #F9C06A;
  }

  .feedback__button-next:hover {
    background-color: #603809;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .feedback__button-next:hover svg {
    fill: #F9C06A;
  }
}